doctype html
html
  head
    title Basque Country Walks -
    link(href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css", rel="stylesheet")
    link(href="https://unpkg.com/flickity@2/dist/flickity.min.css", rel="stylesheet")
    script(src="https://code.jquery.com/jquery-3.3.1.min.js", integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=", crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
    script(src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
    link(href="/css/style.css", rel="stylesheet")
    link(href="/css/walk-view.css", rel="stylesheet")

  body
    include includes/header.pug
    #index-banner.parallax-container
      .section.no-pad-bot
        .container
          .row
            h1#title=name
            .main-carousel
              each img_url in pictures
                .carousel-cell(style='background: url(http://localhost:3000' + img_url + ') no-repeat center center')
          .row#trek-detail-title
            .col.s12
              h3 Trek details
          .row#trek-details
            .col.s3 Duration (days / nights) :
            .col.s2.tar
              span=days
              span &nbsp;/ &nbsp;
              span=nights
            .col.s3.offset-s1 Difficulty :
            .col.s2.tar
              span=difficulty
              span &nbsp;/ 5
            .col.s3 Distance :
            .col.s2.tar
              span ???
              span km
            .col.s3.offset-s1 Altitude gain :
            .col.s2.tar
              span ???
              span m
          .row#trek-description-container
            .col.s8.left-part
              .row#trek-summary
                .col-s12
                  h3 Summary
                .col-s12
                  p !{summary}
              .row#trek-description
                .col.s12
                  h3 Route description, clothing and material
                .col.s12
                  p !{description}
            .col.s4.right-part
              .row#the-book
                .col.s12
                  img#book-img(src='/img/basque-country-book.jpg', alt='basque country walks, the book')
                .col.s12
                  button.btn.waves-effect.waves-light Get the book
                    i.material-icons.right send
              .row#other-walks


  include includes/footer.pug


  script(src="/js/all.js")
  script(src="/js/walk.js")
