doctype html
html
  head
    title Basque Country Walks -
    link(href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css", rel="stylesheet")
    link(href="https://unpkg.com/flickity@2/dist/flickity.min.css", rel="stylesheet")
    script(src="https://code.jquery.com/jquery-3.3.1.min.js", integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=", crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
    script(src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
    link(href="/css/style.css", rel="stylesheet")
    link(href="/css/walk-view.css", rel="stylesheet")

  body
    include includes/header.pug
    #index-banner.parallax-container
      .section.no-pad-bot
        .container
          .row
            h1#title=name
            .main-carousel
              each img_url in pictures
                .carousel-cell(style='background: url(http://localhost:3000' + img_url + ') no-repeat center center')

          .row#trek-detail-title
            .col.s12
              h3 Trek details

          .row#trek-details-container
            .col.s10
              .row#trek-details
                .col.s3 Duration (days / nights) :
                .col.s2.tar
                  span=days
                  span &nbsp;/ &nbsp;
                  span=nights
                .col.s3.offset-s1 Difficulty :
                .col.s2.tar
                  span=difficulty
                  span &nbsp;/ 5
                .col.s3 Distance :
                .col.s2.tar
                  span ???
                  span km
                .col.s3.offset-s1 Altitude gain :
                .col.s2.tar
                  span ???
                  span m
            .col.s2
              h4 From €

          .row#trek-description-container
            .col.s8.left-part
              .row#trek-summary
                .col-s12
                  h3 Summary
                .col-s12
                  p !{summary}
              .row#trek-description
                .col.s12
                  h3 Route description, clothing and material
                .col.s12
                  p !{description}
            .col.s4.right-part
              .row.hoverable#the-book
                .col.s12#book-img-container
                  #book-img(style='background: url("/img/basque-country-book.jpg") no-repeat center center;')
                .col.s12#button-book-container
                  a.btn.waves-effect.waves-light(href=bookHref, target='_blank') Get the book
                    i.material-icons.right send
              .row.hoverable#other-walk
                .col.s12#other-walk-img-container
                  #other-walk-img(style='background: url("' + otherWalkImg + '") no-repeat center center;')
                .col.s12#button-other-walk-container
                  a.btn.waves-effect.waves-light(href=otherWalkHref) Discover another walk
                    i.material-icons.right send



  include includes/footer.pug


  script(src="/js/all.js")
  script(src="/js/walk.js")
